body {
    background-color: rgb(33, 1, 59);
    margin-top: 10%;
    margin-bottom: 10%;

  }
  
  h1 {
    color: rgb(171, 196, 204);
    margin-left: 10%;
  }
 
  p{
    color:  rgb(171, 196, 204);
    margin-block-start: 5%;
    margin-block-end: 5%;
  }


/*    Style the top navigation bar*/ 
 ul.topnavbar 
	    {
  	    	list-style-type: none;
  		margin: 0;
  		padding: 0;
  		overflow: hidden;
  		background-color: #C0C0C0;
  		position: fixed;
  		top: 0;
	  	width: 100%;
		height: 50px;
		
	    }
		li.nav
	   {
		float: left;
	   }
/* Style the topnav links*/
li.topnavbar a
	   {
  		display: block;
  		color: white;
  		text-align: center;
  		padding: 14px 16px;
  		text-decoration: none;
	   }
/* Change color on hover*/
li.topnavbar a :hover:not(.active) 
	   {
	  	background-color: #111;
	   }
	   li.nav .active 
	   {
 	 	background-color: #4CAF50;
	   }
/* Style the content*/
.content {
  background-color: #ddd;
  padding: 20px;
  height: 500px;
  font-family: Cambria,Cavolini,Lucida Grande,sans-serif;/* Should be removed. Only for demonstration
  (just edited cuz i wasn't sure if it needed a new class when i could use this one)*/
  
}
/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}