<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Missions</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="nav">
    <a class="links" href="/Spacex">Search</a>
</div>
<div class="main">
    <div th:each="mission: ${missions}">
        <h1 th:text="${mission.name} + ' - ID ' + ${mission.id}"></h1>
        <h3>Manufacturers</h3>
        <div th:each="manufacturer: ${mission.manufacturers}">
            <p th:text="${manufacturer}"></p>
        </div>
        <h3>Payload IDs</h3>
        <div th:each="payload: ${mission.payloadIds}">
            <p th:text="${payload}"></p>
        </div>
        <a th:href="${mission.wiki}">Wikipedia</a>
        <a th:href="${mission.website}">Website</a>
        <a th:href="${mission.twitter}" th:text="${mission.twitter.equals('')} ? '' : 'Twitter'"></a>
        <p th:text="${mission.description}"></p>
        <hr>
    </div>
</div>
</body>
</html>