<!DOCTYPE html>
<html>
<head>
    <title>The Myth of the Stars</title>
    <link rel="stylesheet" href="/css/StarMythStyle.css">
</head>
<body>
<h1>Myth of the Stars: Zodiacs</h1>

<h3>Capricorn</h3>
<img class=StarPic" src="/img/Capricorn.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Capricorn was a goat mountain spirit who had helped the gods. In exchange
    for his help, the gods put him in the sky.</p>
<br>

<h3>Aquarius</h3>
<img class="StarPic" src="/img/Aquarius.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Aquarius was a Trojan prince that Zeus brought to Olympus to be a cup bearer
    to the gods. He was later put into the sky and renamed Aquarius.</p>

<h3>Pisces</h3>
<img class="StarPic" src="/img/Pisces.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pisces were two fish that have a few different stories. In one story they
    helped Aphrodite to shore after she was born from sea foam. In another myth they helped Aphrodite and Eros escape
    from a monster. In both cases, Aphrodite wanted them in the sky for their help.</p>
<br>

<h3>Aries</h3>
<img class="StarPic" src="/img/Aries.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Aries, the ram, had golden fleece. Its golden fleece was part of the quest
    that Jason and the Argonauts sought after.</p>
<br>

<h3>Taurus</h3>
<img class="StarPic" src="/img/Taurus.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;There are two stories that are associated with Taurus, the bull. In one
    Taurus is Zeus in disguise. He gets Europa, a princess, to get on his back. He then whisks her away into the ocean.
    In the other story Taurus is the father of the Minotaur and the mother being King Mino’s wife. He is also a beast
    that Hercules had to capture as part of his twelve trials. And is one of the various animals that Orion hunts. </p>
<br>

<h3>Gemini</h3>
<img class="StarPic" src="/img/Gemini.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Gemini is based on the twins, Castor and Pollux, from the Jason and the
    Argonauts story.</p>
<br>

<h3>Cancer</h3>
<img class="StarPic" src="/img/Cancer.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Cancer, the crab, was a monster that went to the aid of the hydra when it
    was fighting Hercules. After the it died, Hera decided to put him into the sky as a constellation. </p>
<br>

<h3>Leo</h3>
<img class="StarPic" src="/img/Leo.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Leo is the Nemean Lion, one of the monsters killed by Hercules during his
    twelve labors. After the lion died, Hera decided to put him into the sky as a constellation.</p>
<br>

<h3>Virgo</h3>
<img class="StarPic" src="/img/Virgo.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Virgo is Astraea, the goddess of justice. Zeus decided that she would become
    the constellation Virgo. </p>
<br>

<h3>Libra</h3>
<img class="StarPic" src="/img/Libra.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Libra is the scales that Astraea uses to judge people. </p>
<br>

<h3>Scorpius</h3>
<img class="StarPic" src="/img/Scorpius.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;One of the beasts that Orion hunted. In a version of the Orion myth, it was
    Scorpius that killed Orion. </p>
<br>

<h3>Sagittarius</h3>
<img class="StarPic" src="/img/Sagittarius.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Sagittarius, also known as Chiron, was a centaur. He trained many heroes
    such as Jason and Achilles.</p>
<br>

</body>
</html>