<!DOCTYPE html>
<html>
<head>
    <title>The Myth of the Stars</title>
    <link rel="stylesheet" href="/css/StarMythStyle.css">
</head>
<body>
<h1>Myth of the Stars: Planets</h1>

<h3>Mercury</h3>
<img class="StarPic" src="/img/mercury-822825_1280.png">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Mercury, also known as Hermes, is the god of traveling, merchants,
    astronomy, and a variety of other things. He is involved in a variety of stories, such as the Iliad, the Odyssey,
    and helped Perseus in his adventures. He is most known by his sandals and his staff.</p>
<br>

<h3>Venus</h3>
<img class="StarPic" src="/img/venus-5556107_1280.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Venus, also known as Aphrodite, is the goddess of beauty and love. She
    married to Vulcan (Hephaestus), but often is seen having a secret affair with Mars (Ares). She is involved with
    stories such as the Trojan War and Atalanta. She is most known by her beauty.</p>

<h3>Earth</h3>
<img class="StarPic" src="/img/earth-11015_960_720.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;There are a variety of myths that go along with Earth. Most of them are
    creation myths. One creation myth is that of Gaia, who is the Earth. She had been created by Chaos, which was the
    only thing at the time. She was created alongside Tartaros. Over time Gaia gave birth to others, such as the Titans,
    the sky, mountains, and the sea. She has had a lot of kids, sometime with other beings, sometimes by just creating
    them from herself. </p>
<br>

<h3>Mars</h3>
<img class="StarPic" src="/img/mars-11012_960_720.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Mars, also known as Ares, is the god of war. He is secretly dating Venus
    behind Vulcan’s back. He has been involved in a variety of myths such as the Trojan War, the Amazons, and the
    stories about the secret affair between him and Venus. He is most known by his helmet and spear.</p>
<br>

<h3>Jupiter</h3>
<img class="StarPic" src="/img/space-4869815_1280.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Jupiter, also known as Zeus, is the god of the sky and king of the gods. He
    is the husband of Juno (Hera), though he cheats on her a lot. He is involved in a variety of myths, such as
    Hercules, Perseus, Europa, Io, and the Trojan War. He is most known for his lightning bolt and seducing a lot of
    beings, both human and not human.</p>
<br>

<h3>Saturn</h3>
<img class="StarPic" src="/img/saturn-67671_1280.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Saturn, also known as Cronos, is the Titan of time and king of the Titans.
    Some of his children are the Olympian gods, such as Jupiter, Neptune, and Pluto. During the Titan War, he fought
    against the Olympian gods and lost. He was thrown into the pits of Tartarus once the war was over with. </p>
<br>

<h3>Uranus</h3>
<img class="StarPic" src="/img/uranus-11625_960_720.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Uranus, also known as Ouranos, is the primordial god of the sky. Between him
    and Gaia, they gave birth to the Titans. The Titans ended up fighting him after he had caused Gaia pain. His blood
    created the giants.</p>
<br>

<h3>Neptune</h3>
<img class="StarPic" src="/img/neptune-67537_960_720.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Neptune, also known as Poseidon, is the god of the sea, earthquakes, and
    horses. He is involved in stories such as the Odyssey, the Trojan War, the Minotaur, and Medusa. He’s most known for
    his trident. </p>
<br>

<h3>Pluto</h3>
<img class="StarPic" src="/img/pluto-1315109_960_720.webp">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pluto, also known as Hades, is the god of wealth and the dead. His wife is
    Persephone, who had captured and took as his wife. He is involved in stories such as Orpheus, Hercules, and Theseus.
    He is most known for being the ruler of the underworld.</p>
<br>

</body>
</html>