<!DOCTYPE html>
<html>
<head>
    <title>The Myth of the Stars</title>
    <link rel="stylesheet" href="/css/StarMythStyle.css">
</head>
<!--lorem ipsum dolor est sit amet
credit: url.com !
for quoting-->
<body>
<h1>Myth of the Stars: More Constellations</h1>

<h3>Andromeda</h3>
<img class="StarPic" src="/img/1280-1200-185867091-constellation-star.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Andromeda was the daughter of King Cepheus and Queen Cassiopeia. Her mother
    had boasted that she is more beautiful than the Nereids, the sea nymphs. Poseidon, the sea god, did not like that,
    so he sent a sea monster to ravage the area that she lived on. The only way to save the island was for Andromeda to
    be sacrificed to the sea monster. She was chained up to a cliff and waited for her doom. Before she could be killed,
    Perseus came and saved her. After he saved her, they got married.</p>
<br>

<h3>Aquila</h3>
<img class="StarPic" src="/img/aquila_black.png">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Aquila was Zeus’s personal eagle. He would do a variety of jobs for him. He
    was the one who brought the prince that would become Aquarius to Olympus. </p>
<br>

<h3>Boötes</h3>
<img class="StarPic" src="/img/Other%20Cons/Bo%C3%B6tes.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Boötes was the son of a mortal and Demeter. He invented the wagon and the
    plough. After he died Demeter wanted him as a constellation. </p>
<br>

<h3>Canis Major and Minor</h3>
<img class="StarPic" src="/img/Canis%20Major%20and%20Minor.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Canis Major and Canis Minor were the dogs of Orion.</p>
<br>

<h3>Cassiopeia</h3>
<img class="StarPic" src="/img/cassiopeia-stars-545x479.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Cassiopeia was the queen Ethiopia and wife of Cepheus. They had a daughter
    named Andromeda. Cassiopeia boasted that their daughter was more beautiful than the Nereids. Her boasting caught the
    attention of Poseidon. He was furious at this boasting, so he sent a sea monster to ravage the land that she and her
    husband ruled. They were told that the only way to save their people was to sacrifice their daughter. Luckily for
    them Perseus came along and saved their daughter.</p>
<br>

<h3>Cepheus</h3>
<img class="StarPic" src="/img/SIERRA%20Astral%203-1%20TN.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Cepheus was the king Ethiopia and husband of Cassiopeia. They had a daughter
    named Andromeda. His wife boasted that their daughter was more beautiful than the Nereids. Her boasting caught the
    attention of Poseidon. He was furious at this boasting, so he sent a sea monster to ravage the land that they ruled
    and the only way to save their people was to sacrifice their daughter. Luckily for them Perseus came along and saved
    their daughter. </p>
<br>

<h3>Cetus</h3>
<img class="StarPic" src="/img/cetus.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Cetus is the sea monster that Poseidon had sent to kill Andromeda and was
    slain by Perseus.</p>
<br>

<h3>Cygnus</h3>
<img class="StarPic" src="/img/cygnus_constellation_wall_mural.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Cetus is the sea monster that Poseidon had sent to kill Andromeda and was
    slain by Perseus. </p>
<br>

<h3>Delphinus</h3>
<img class="StarPic" src="/img/Delphinus.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Delphinus is a dolphin in the service of Poseidon. He helped Poseidon in
    persuading Amphitrite to be his wife. When the time came Poseidon made him into a constellation.</p>
<br>

<h3>Draco</h3>
<img class="StarPic" src="/img/Draco.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Draco is the dragon that was protecting the golden apple tree that Hercules
    came to retrieve. After he was slain, he was put into the sky.</p>
<br>

<h3>Hercules</h3>
<img class="StarPic" src="/img/Hercules.png">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Hercules was the son of Zeus and Alcmene. In a fit of insanity, due to Hera
    being angry at him, he killed his wife and children. The only way for him to make amends was to complete twelve
    labors. The labors are killing the Nemean Lion, killing the Hydra, capture the Cerynitian Hind, capture the
    Erymanthian Boar, clean out the stables of a king, killing the Stymphalian Birds, capture the Cretan Bull, capture
    Diomedes’s man eating horses, get the belt of Hippolyte, capture Geryon’s cattle, fetch golden apples that were
    guarded by a dragon, and fetch Cerberus. </p>
<br>

<h3>Hydra</h3>
<img class="StarPic" src="/img/Hydra.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Hydra is one of the monsters that Hercules killed during his twelve labors.
    Hera felt bad for the monster, so she put it among the starts as a constellation. </p>
<br>

<h3>Lepus</h3>
<img class="StarPic" src="/img/lepus-wide-view.png">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lepus was a rabbit that was being hunted by Orion. </p>
<br>

<h3>Lyra</h3>
<img class="StarPic" src="/img/lyra-outline.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lyra is a musical instrument that was invented by Hermes. Later Apollo
    started to use the instrument in his music. </p>
<br>

<h3>Ophiuchus</h3>
<img class="StarPic" src="/img/Ophiuchus.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Asclepius was a demigod son of Apollo who was raised by Chiron after his
    mother died. When he died, he was made into the constellation Ophiuchus and also made into the a god of
    medicine.</p>
<br>

<h3>Orion</h3>
<img class="StarPic" src="/img/orion_stars-1024x819.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Orion was a giant who hunted many beasts, such as Taurus, Lepus, and
    Scorpius. He had two dogs who also became constellations. They are Canis Major and Canis Minor. There are a few
    versions of his death. One is where he was killed by Scorpius. In another Artemis fell in love with Orion, but
    Apollo killed him. In that version of the myth Orion had went blind at one point.</p>
<br>

<h3>Pegasus</h3>
<img class="StarPic" src="/img/pegasus-constellation-wall-mural.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pegasus and Chrysaor, a boar, were born when Perseus cut off Medusa’s head.
    Pegasus assisted in various myths, such as helping in the fight against a chimera.</p>
<br>

<h3>Perseus</h3>
<img class="StarPic" src="/img/d66bc3a04e6dfbf6febfe7bd38660cb0.png">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Perseus was the son of Zeus and Danae, who was the princess of Mycenae. His
    grandfather did not want him to be born due to a prophecy that foretold that Danae’s son would kill him. He tried to
    kill Danae and Perseus by locking them in a chest when Perseus was only a toddler before throwing them out to sea.
    The two of them were eventually found by a fisherman named Dictys. Eventually Perseus grows up and fights a variety
    of monsters with the help of the gods. He kills Medusa and keeps her head as a trophy. He ends up using Medusa’s
    head to turn Atlas to stone when he was not hospitable to him. He also uses Medusa’s head to help him fight off a
    sea monster that had plans on eating Andromeda. Perseus ends up marrying Andromeda afterward.</p>
<br>

<h3>Pleiades</h3>
<img class="StarPic" src="/img/pleiades_ukschmidt_clean_names.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;In one version of the Orion myth, the Pleiades were sisters who were being
    sought after by Orion. </p>
<br>

<h3>Ursa Major and Ursa Minor</h3>
<img class="StarPic" src="/img/Ursa%20Major%20and%20Ursa%20Minor.jpg">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Calisto was seduced by Zeus and gave birth to a son named Arcas. Zeus
    transformed them into bears and were later hunted down. After they died Zeus put them into the sky and renamed them
    Ursa Major and Ursa Minor.</p>
<br>


</body>
</html>